* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Ubuntu', sans-serif;
    font-size: 62.5%;
    background-color: #fefaf6;
}

body {
    font-size: 1.6rem;
    background-repeat: no-repeat;
    background-size:cover;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: blueviolet;
    
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

header nav .nav-section {
    width: 100%;
    height: 60px;
    background-color: rgb(136, 130, 130);
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: end;
    align-items: center;
    padding-right: 1.5rem;
    opacity: 0.9;
    position: fixed;
}

header nav .nav-section a {
    margin-right: 10px;
}

.inicio {
    background-image: url('img/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 6rem;
    padding: 40px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.presentacion h1 {
    color: #fefaf6;
    font-size: 5rem;
    text-align: center;
}

.presentacion p {
    
    color: #fefaf6;
    margin: auto;
    margin-left: 4rem;
    margin-top: 2rem;

}


.inicio div img {
    width: 240px;
    height: 320px;
    border-radius: 60px;
}

.titulo-proyectos {
    font-size: 3rem;
    text-align: center;
    margin-top: 8rem;
}

.proyectos {
    background-image: url('https://cdn.pixabay.com/photo/2017/06/26/12/56/laptop-2443737_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 8rem;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.logo {
    width: 250px;
    height: auto;
    margin-top: 12rem;
    margin-bottom: 20rem;
}

.logo img {
    width: 100%;
    height: auto;
    padding: 10px 10px;
    
}

.titulo-footer{
    width: 100%;
    height: 100px;
    font-size: 3rem;
    text-align: center;
    margin-top: 8rem;
}

.social {
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    padding-left: 10%;
    justify-content: center;
    padding-right: 40rem;
}

.social img {
    width: 40px;
    height: 40px;
    margin-left: 30rem;
    text-align: center;
}

.social span {
    margin-top: 1rem;
    margin-left: 2rem;
}